<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Ótica Sertaneja</title>
    </head>
    <body>
        <h1 th:text="${message}">Bem Vindo</h1>
        <div>
            <label for="">Digite o nome</label>
            <input type="text" width="100" height="100">
        </div>
        <div>
            <label for="">Digite o CPF</label>
            <input type="text" width="100" height="100">
        </div>
        <div>
            <label for="">Digite o Numero</label>
            <input type="text" width="100" height="100">
        </div>
        <div>
            <label for="">Digite o Endereço</label>
            <input type="text" width="100" height="100">
        </div>
        
    </body>
</html>